﻿@{
    ViewBag.Title = "ADD Director";
    @model Web_backend.Models.Add.Input_director

}
@using (Html.BeginForm("Director", "Add", FormMethod.Post, new
{ enctype = "multipart/form-data" }))
{
    @Html.ValidationSummary(true)
    <form class="container">
        <div class="col-md-9">
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "name", required = "required" })

                </div>

            </div>
        </div>
        <div class="col-md-9">
            <label class="control-label col-md-2">BrithDay:</label>
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.BrithDay, new { @class = "form-control", @id = "datetimepicker", required = "required" })

                </div>

            </div>
        </div>
        <div class="col-md-9">
            <label class="control-label col-md-2">Detail:</label>
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    @Html.TextAreaFor(model => model.Detail, new { @class = "form-control", @id = "Detail", required = "required" })
                </div>


            </div>
        </div>
        <div class="col-md-9">
            <label class="control-label col-md-2">IMG:</label>
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    <div class="input-group">
                        <span class="input-group-btn">
                            <span class="btn btn-default btn-file">
                                Browse… <input name="file" id="file" type="file" />
                            </span>
                        </span>
                        <input type="text" class="form-control" readonly>
                    </div>
                    <img id='img-upload' />
                </div>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-1">
            <button class="btn btn-lg btn-primary btn-block" type="submit">ADD</button>
            </div>
</form>
}
<script>
    $(document).ready(function () {
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [label]);
        });

        $('.btn-file :file').on('fileselect', function (event, label) {

            var input = $(this).parents('.input-group').find(':text'),
                log = label;

            if (input.length) {
                input.val(log);
            } else {
                if (log) alert(log);
            }

        });
        function readURL(input) {

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#img-upload').attr('src', e.target.result);
                }

                reader.readAsDataURL(input.files[0]);
            }
        }

        $("#file").change(function () {
            readURL(this);
        });
    });
    $("#datetimepicker").datetimepicker({
        format: "MM - DD - YYYY"
    });
</script>   

