﻿
@{
    ViewBag.Title = "Add";
    @model Web_backend.Models.Add.Input_Genre
}
@using (Html.BeginForm("Genre", "Add", FormMethod.Post, new
{ enctype = "multipart/form-data"
}))
{
    @Html.ValidationSummary(true)
    <form class="container">
        <div class="col-md-9">
            <label class="control-label col-md-2">Name:</label>
            <div class="col-md-9">
                <div class="form-group col-md-6">
                    @Html.TextBoxFor(model => model.Name, new { @class = "form-control", @id = "name", required = "required" })
                </div>
            </div>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
        </form>
        }

