﻿@model IEnumerable<Web_backend.Models.List_Genre>
@{
    ViewBag.Title = "Genre";
}
<div class="">
    <div class="form-group col-md-12">
        <a href="@Url.Action("Add", "Genre")" class="btn btn-primary btn-lg"><i class="glyphicon glyphicon-plus"></i> ADD</a>
       
    </div>
    <div class="form-group col-md-8">
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-7">Name</th>
                    <th scope="col" class="col-md-1">Edit</th>
                    <th scope="col" class="col-md-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in Model)
            {
                    <tr>
                        <th scope="row" id="ID_m">@p.ID</th>
                        <td>@p.Name</td>
                        <td align="center"><a href="@Url.Action("Edit", "Genre", new { id = p.ID })" class="btn btn-warning">Edit</a></td>
                        <td align="center"><a href="@Url.Action("Genre", "Delete", new { ID_Genre = p.ID })" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
       
    </div>
<script type="text/javascript">

</script>
