﻿
@{
    Layout = null;
    @model  Web_backend.Models.Login
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    @*<link href="~/Content/bootstrap.css" rel="stylesheet" />*@
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" media="all" />
    <title>Signin Template for Bootstrap</title>
    <link href="~/css/signin.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body class="text-center">
    @using (Html.BeginForm("Login_User", "Login", FormMethod.Post))
            {
        <div class="">
            <img src="~/Images/Icon_popcorn.svg" alt="" width="72" height="72">
            <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
            <div class="form-group text-center">
                <label for="inputEmail" class="sr-only">Email address</label>
                @Html.TextBoxFor(model => model.Email, new { @class = "form-control", placeholder = "Email address", required = "" })
            </div>
            <div class="form-group text-center">
                <label for="inputPassword" class="sr-only">Password</label>
                @Html.TextBoxFor(model => model.password, new { @class = "form-control", placeholder = "Password", required = "", type = "password" })
            </div>
            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>



        </div>
    }
</body>
</html>
