﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/btn-file.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.15.1/moment.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/js/bootstrap-datetimepicker.min.js"></script>
    @*<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>*@
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.7.14/css/bootstrap-datetimepicker.min.css">
    
    @*<script src="~/Scripts/jquery-1.10.2.min.js"></script>*@
    @*<script src="~/Scripts/bootstrap.min.js"></script>*@
    <!-- Latest compiled and minified JavaScript -->

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.4/css/bootstrap-select.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.js"></script>


    <link href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

</head>
<body onload="document.refresh();">
    <div id="top-nav" class="navbar navbar-inverse navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-toggle"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">POPCORN</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">

                    <li class="dropdown">
                        <a class="dropdown-toggle" role="button" data-toggle="dropdown" href="#">
                            <i class="glyphicon glyphicon-user"></i> Admin <span class="caret"></span>
                        </a>
                        <ul id="g-account-menu" class="dropdown-menu" role="menu">
                          
                            <li><a href="@Url.Action("Logout", "Home")"><i class="glyphicon glyphicon-lock"></i> Logout</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /container -->
    </div>
    <!-- /Header -->
    <!-- Main -->
    <div class="container">

        <!-- upper section -->
        <div class="row">
            <div class="col-sm-3" id="menu">
                <!-- left -->
            <label class="h3">
                <i class="glyphicon glyphicon-th-list"></i> Menu
            </label>
                
                <hr>

                <ul class="nav nav-stacked">
                    <li><a href="@Url.Action("Index", "Home")" target="ext"><h4><i class="glyphicon glyphicon-home"></i> Home</h4></a></li>
                    <li><a href="@Url.Action("Index", "Movie")" target="ext"><h4><i class="glyphicon glyphicon-film"></i> Movie</h4></a></li>
                    <li><a href="@Url.Action("Index", "Caster")" target="ext"><h4><i class="glyphicon glyphicon-star"></i> Caster</h4></a></li>
                    <li><a href="@Url.Action("Index", "Director")" target="ext"><h4><i class="glyphicon glyphicon-bullhorn"></i> Director</h4></a></li>
                    <li><a href="@Url.Action("Index", "Genre")" target="ext"><h4><i class="glyphicon glyphicon-pushpin"></i> Genre</h4></a></li>
                    <li><a href="@Url.Action("Index", "Studio")" target="ext"><h4><i class="glyphicon glyphicon-facetime-video"></i> Studio</h4></a></li>
                    <li><a href="@Url.Action("Index", "News")" target="ext"><h4><i class="glyphicon glyphicon-list-alt"></i> News </h4></a></li>
                    <li><a href="@Url.Action("Index", "Comment")" target="ext"><h4><i class="glyphicon glyphicon-comment"></i> Comment </h4></a></li>
                    <li><a href="@Url.Action("Index", "Users")" target="ext"><h4><i class="glyphicon glyphicon-user"></i> Users </h4></a></li>
                    
                </ul>

                <hr>

            </div><!-- /span-3 -->
            <div class="col-sm-9">

               <div class="form-inline">
                   <label class="h3">
                       <i class="glyphicon glyphicon-home"></i> @ViewBag.Title
                       </label>
                   

                <hr>
               </div>
                <div class="row">
                    <div class="body-content">
                        @RenderBody()
                    </div>

                    </div><!--/col-->
                </div>
            </div>

            </div>
        <footer class="footer">
            <div class="footer-copyright py-3 text-center">
                © 2018 Copyright:
                <a> Popcron </a>
            </div>

        </footer>
</body>



</html>
<script>

    function mysearch() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("Input_search");
        filter = input.value.toUpperCase();
        table = document.getElementById("myTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    $(document).ready(function () {
        var trigger = $('.hamburger'),
            overlay = $('.overlay'),
            isClosed = false;

        trigger.click(function () {
            hamburger_cross();
        });

        function hamburger_cross() {

            if (isClosed == true) {
                overlay.hide();
                trigger.removeClass('is-open');
                trigger.addClass('is-closed');
                isClosed = false;
            } else {
                overlay.show();
                trigger.removeClass('is-closed');
                trigger.addClass('is-open');
                isClosed = true;
            }
        }

        $('[data-toggle="offcanvas"]').click(function () {
            $('#wrapper').toggleClass('toggled');
        });
    });
    function w3_open() {
        document.getElementById("main").style.marginLeft = "20%";
        document.getElementById("mySidebar").style.width = "20%";
        document.getElementById("mySidebar").style.display = "block";
        document.getElementById("openNav").style.display = 'none';
    }
    function w3_close() {
        document.getElementById("main").style.marginLeft = "0%";
        document.getElementById("mySidebar").style.display = "none";
        document.getElementById("openNav").style.display = "inline-block";
    }
    $(document).ready(function () {
        $('#myTable').DataTable();
    });
  
</script>
<style>
    
</style>