﻿@using Web_backend.Models
@{
    ViewBag.Title = "Home";
    IEnumerable<Web_backend.Models.List_Movie> movie = ViewData["Movie"] as IEnumerable<Web_backend.Models.List_Movie>;
    IEnumerable<Web_backend.Models.List_Comment> comment = ViewData["Comment"] as IEnumerable<Web_backend.Models.List_Comment>;
}
<div class="">
        <h1>Movie</h1>
    @if (Model == null)
    {

    }
        <table id="myTable" class="table table-bordered">
            <thead>
                <tr>
                    <th scope="col" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-2">Name</th>
                    <th scope="col" class="col-md-1">Date</th>
                    <th scope="col" class="col-md-1">Status</th>
                    <th scope="col" class="col-md-1">Detail</th>
                    <th scope="col" class="col-md-1">Confirm</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in movie)
                {
                    <tr>
                        
                        <th scope="row" id="ID_m">@p.ID_Movie</th>
                        <td>@p.Name</td>
                        <td>@p.date</td>
                        <td  align="center">@if (@p.status.Equals(false))
                        {
                            <span class="label label-danger">@p.status</span>
                        }
                        else
                        {
                            <span class="label label-success">@p.status</span>
                        } </td>
                        <td align="center"><a href="@Url.Action("Detail", "Movie", new { id = p.ID_Movie })" class="btn btn-warning">Detail</a></td>
                        <td align="center"><a href="@Url.Action("Status", "Update", new { ID_Movie = p.ID_Movie,Status = true })" class="btn btn-danger" onclick="return confirm('Are you sure?')">Confirm</a></td>

                    </tr>
                }

            </tbody>
        </table>
    <hr/>
    <h1>Comment</h1>
    <div class="form-group col-md-12">
        <table id="myTable2" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th scope="col" class="col-md-1">ID</th>
                    <th scope="col" class="col-md-3">Name</th>
                    <th scope="col" class="col-md-6">Comment</th>
                    <th scope="col" class="col-md-1">Status</th>
                    <th scope="col" class="col-md-1">Delete</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var p in comment)
            {
                    <tr>
                        <th scope="row" id="ID_m">@p.ID</th>>
                        <td>@p.Name</td>
                        <td>@p.Text</td>
                        <td align="center">
                            @if (@p.Status > 0)
                        {
                            <span class="label label-danger">Report</span>
                        }
                        else
                        {
                            <span class="label label-success">OK</span>
                        }
                    </td>
                        <td align="center"><a href="@Url.Action("Comment", "Delete", new { ID_Comment = p.ID })" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    </div>
<script language="javascript" type="text/javascript">
    $(document).ready(function () {
        $('#myTable2').DataTable();
    });
</script>
    
   