﻿
@{
    ViewBag.Title = "Comment";
}


<div class="form-group col-md-12">
    <table id="myTable" class="table table-bordered">
        <thead>
            <tr>
                <th scope="col" class="col-md-1">ID</th>
                <th scope="col" class="col-md-3">Name Movie</th>
                <th scope="col" class="col-md-6">Comment</th>
                <th scope="col" class="col-md-1">Status</th>
                <th scope="col" class="col-md-1">Delete</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var p in Model)
            {
                <tr>
                    <th scope="row" id="ID_m">@p.ID</th>
                    <td>@p.Name</td>
                    <td>@p.Text</td>
                    <td align="center">
                        @if (@p.Status > 0)
                        {
                            <span class="label label-danger">Report</span>
                        }
                        else
                        {
                            <span class="label label-success">OK</span>
                        }
                    </td>
                    <td align="center"><a href="@Url.Action("Comment", "Delete", new { ID_Comment = p.ID })" class="btn btn-danger" onclick="return confirm('Are you sure?')">Delete</a></td>
                </tr>
            }

        </tbody>
    </table>
</div>