﻿
@{
    ViewBag.Title = "Update";
    @model Web_backend.Models.Edit.Input_User
}

@using (Html.BeginForm("User", "Update", FormMethod.Post))
{
    @Html.ValidationSummary(true)
    <form class="">
        <div class="form-group col-md-12">
            <div class="form-inline col-md-6">
                <div class="col-md-3">
                    <label class="control-label ">Guid:</label>
                </div>
                <div class="col-md-3 text-left">
                    @Html.TextBoxFor(model => model.guid, new { @class = "form-control", @id = "Guid", @readonly = "readonly" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline  col-md-6">
                <div class="col-md-3">
                    <label class="control-label ">Email:</label>
                </div>
                <div class="col-md-3 text-left">
                    @Html.TextBoxFor(model => model.Email, new { @class = "form-control", @id = "ID_Movie" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline  col-md-6">
                <div class="col-md-3">
                    <label class="control-label ">Name:</label>
                </div>
                <div class="col-md-3 text-left">
                    @Html.TextBoxFor(model => model.Name, new { value = Model.Password, @class = "form-control", @id = "ID_Movie" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline  col-md-6">
                <div class="col-md-3">
                    <label class="control-label ">Password:</label>
                </div>
                <div class="col-md-3 text-left">
                    @Html.PasswordFor(model => model.Password, new { @class = "form-control", @id = "ID_Movie", placeholder = "Password" })
                </div>
            </div>
        </div>
        <div class="form-group col-md-12">
            <div class="form-inline  col-md-6">
                <div class="col-md-3">
                    <label class="control-label ">Type:</label>
                </div>
                <div class="col-md-3 text-left">
                    @Html.DropDownListFor(m => m.mtype, new SelectList(ViewBag.Type, "id", "Name", Model.mtype), new { @class = "form-control", id = "Type" })
                        </div>
                    </div>
                </div>
        <div class="col-md-6 col-md-offset-1">
            <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
            </div>
</form>
    <script  language="javascript" type="text/javascript">
         $(document).ready(function () {
         var Type = @Html.Raw(Json.Encode(@Model.mtype));
        
         if (Type != null){
             $('#Type').val(Type);
         }
         

     });
    </script>

}